[DEFAULT]
# This section is common to any backup set

# Relative path of folder where the last "current" backup is stored
CURFOLDER=0

# Wether to create a symlink to most recent snapshot.
# Useful in case of backup failed for temporary issues
# (in that case the last may not be CURFOLDER)
# Default: True
#LINKLAST=True

# Most recent snapshot symlink name
# Default: lastsnap
#LINKLASTNAME=lastsnap

[Test1]
#Backup root
PATH=/mnt/backups/One

# Hanoi day 1 yyyy-mm-dd
HANOIDAY=2019-01-01

# Rotate backups husing tower of hanoi schedule, numer of sets to use
HANOI=11

[Test2]
#Backup root
PATH=/mnt/backups/Two

# Hanoi day 1 yyyy-mm-dd
HANOIDAY=2015-01-01

# Rotate backups husing tower of hanoi schedule, numer of sets to use
HANOI=7
